.SignIn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Notification {
	width: 40%;
	margin-top: 30px;
	box-sizing: border-box;
}

.Notification.Error p {
	background-color: rgba(255, 0, 15, 0.24);
	border-color: #d70000;
}
.Notification p {
	box-sizing: border-box;
	width: 100%;
	padding: 20px 50px;
	background-color: #f9f3ee;
	border: solid 2px #d9a963;
}
.Form {
	display: flex;
	flex-direction: column;
}

.Form {
	background-color: #f9f3ee;
	width: 40%;
	margin: auto;
	padding: 55px;
	align-items: center;
	margin-block: 50px;
	border-radius: 15px;
}
.Form,
.Form label {
	display: flex;
	flex-direction: column;
	font-family: 'DM Sans', sans-serif;
	font-size: 18px;
	line-height: 24px;
}

.Form input[type='file'] {
	display: none;
}

.Form img {
	width: 83px;
	height: 83px;
	object-fit: cover;
	object-position: center;
}
.Form label {
	width: 100%;
}
.Form label p {
	margin-bottom: 15px;
}

input {
	height: 40px;
	font-size: 16px;
	padding-left: 5px;
	display: flex;
	align-items: center;
	margin-bottom: 35px;
	-webkit-transition: 0.5s;
	transition: border-color 0.5s;
	border: #d9a963 1px solid;
	outline: none;
	color: #796157;
	font-style: italic;
}
input:focus {
	outline: none;
	border: 1px solid #796157;
	color: #796157;
}
.Submit {
	display: flex;
	align-items: center;
}

.Submit span {
	margin-inline: 20px;
}

@media all and (max-width: 1300px) {
	.Form {
		width: 70%;
	}
}

@media all and (max-width: 500px) {
	.Submit {
		flex-direction: column;
	}
	.Submit span {
		margin-block: 20px;
	}
}
