.Book {
	padding-block: 5em;
	display: flex;
	align-items: stretch;
}

.BookContainer {
	background-color: #ffffff;
	margin: auto;
	border-radius: 7px;
	box-shadow: 0 4px 34px rgba(0, 0, 0, 0.07);
	box-sizing: border-box;
}

.BookContainer hr {
	width: 60%;
	border-color: transparent;
	background-color: #f2e3ce;
	height: 1px;
}

.Deleted {
	font-family: 'Libre Baskerville', serif;
	padding-block: 5em;
	background-color: #ffffff;
	margin: auto;
	border-radius: 7px;
	box-shadow: 0 4px 34px rgba(0, 0, 0, 0.07);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.Deleted h1 {
	font-size: 44px;
	font-style: italic;
	color: #796157;
	padding-bottom: 15px;
}

.Deleted p {
	font-size: 16px;
	margin-bottom: 20px;
}

.Deleted img {
	margin-bottom: 75px;
}

.BookImage {
	width: calc(40% - 80px);
	background-position: center;
	background-size: cover;
	margin-right: 80px;
	margin-left: 120px;
}

.Book img {
	width: 40%;
	padding-right: 80px;
	padding-left: 120px;
}

.BookContent {
	width: 60%;
	display: flex;
	flex-direction: column;
}

.BookInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	max-width: 465px;
	grid-template-rows: 125px 65px 65px;
	grid-template-columns: 1fr 1fr 1fr;
	box-sizing: border-box;
	gap: 1px;
}

.BookInfo h1 {
	background-color: #f2e3ce;
	font-size: 28px;
	padding: 30px 20px;
}

.BookIntro {
	border: #f2e3ce 1px solid;
	border-top: none;
	padding: 15px;
}

.BookIntro p {
	border-bottom: #f2e3ce 1px solid;
	padding: 15px 0;
}

.PublishDate,
.Genre,
.Rating {
	justify-content: center;
}

.Rating {
	display: flex;
	align-items: center;
}

.Rating p {
	border: none;
}

.Rating div {
	margin-right: 20px;
}

.Book form {
	position: relative;
	overflow: hidden;
	background-color: #f9f3ee;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-block: 32px;
	margin-top: 50px;
	max-width: 465px;
}

.Book form p {
	font-family: 'Libre Baskerville', serif;
	font-size: 18px;
	margin-bottom: 22px;
}

.Book form input[type='radio'] {
	position: absolute;
	left: -10000px;
}
.Book form input[type='submit'] {
	padding: 20px 23px;
	border: none;
	background-color: #d9a963;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
}
.Stars,
.Stars label {
	display: flex;
	margin-bottom: 22px;
}

.Owner {
	color: #2c1810;
	font-style: italic;
	padding: 25px 0;
}

.Owner p {
	margin-bottom: 18px;
}

.Owner a {
	color: #2c1810;
	background-color: #d9a963;
	text-decoration: none;
	padding: 7px 8px 5px 8px;
	border-radius: 5px;
	border: #d9a963 1px solid;
	font-size: 11px;
	transition: 0.5s;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin-right: 8px;
	font-family: 'DM Sans', sans-serif;
	font-style: normal;
}

.Owner a:hover {
	cursor: pointer;
	text-decoration: none;
	background-color: #b99056;
	color: #fff;
	transition: 0.5s;
}

.Owner span {
	color: #000000;
	border: #ff4d4d 1px solid;
	text-decoration: none;
	padding: 7px 8px 5px 8px;
	border-radius: 5px;
	font-size: 11px;
	transition: 0.5s;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-family: 'DM Sans', sans-serif;
	font-style: normal;
}

.Owner span:hover {
	cursor: pointer;
	text-decoration: none;
	background-color: #ff0000;
	color: #fff;
	transition: 0.5s;
}

@media all and (max-width: 1080px) {
	.Book {
		flex-direction: column;
		align-items: center;
	}
	.BookImage {
		height: 300px;
		width: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		margin-inline: 0;
	}
	.BookContent {
		align-items: center;
		margin-top: 2em;
	}
}

@media all and (max-width: 600px) {
	.BookContent {
		width: 90%;
	}
}
