.BookItem {
	text-decoration: none;
	color: inherit;
	max-width: 400px;
	width: 30%;
	align-items: center;
	margin-bottom: 45px;
}

.BookItem article {
	display: flex;
	justify-content: center;
	align-items: start;
}

.BookItem img {
	border-radius: 8px;
}

.BookItem h2,
h3 {
	font-size: 16px;
	font-family: 'DM Sans', sans-serif;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	border-bottom: #d9a963 1px solid;
	padding-bottom: 5px;
}

.BookImage {
	width: 206px;
	height: 260px;
	object-position: center;
	object-fit: contain;
	transition: all 0.5s ease-in-out;
}

.BookImage:hover {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	transform: scale(1.06);
}

.BookItem p {
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
	color: #796157;
	margin-bottom: 10px;
	padding-left: 5px;
}

.BookItem p span {
	font-size: 12px;
	color: #4e4e4e;
}

.full {
	color: #d9a963;
	font-size: 23px;
}

.empty {
	color: #f2e3ce;
	font-size: 23px;
}

.BookInfo {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-left: 20px;
}

.Rating {
	display: flex;
	margin-bottom: 20px;
}

@media all and (max-width: 600px) {
	.BookItem img {
		width: 50%;
	}
}
